{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">Productos por enviar</h1>

            <ul class="list-group">
                {% for producto in productos %}
                    <a class="list-group-item" href=" {% url 'products_detail' producto.id %} ">
                        <header class="d-flex justify-content-between">
                            <h2 class="fw-bold">{{producto.title}}</h2>
                            <p>Usuario: {{producto.user.username}}</p>
                        </header>

                        <p>{{producto.description}}</p>

                        <p>{{producto.datecompleted|date:'M J Y:i'}}</p>

                        {% if producto.imagen %}
                            <img src="{{ producto.imagen.url }}" alt="{{ producto.title }}" class="img-fluid" style="max-width: 100px; height: auto;">
                        {% endif %}
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}